.SumValue {
    color: #2C83BA;
    padding: 3px;
    margin: 5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 11pt;
    /* height: 3em; */
}

.SumValue:hover {
    border: 2px #005fcc solid;
    padding: 1px;
    cursor: pointer;
}

.Selected {
    background-color: #DDF1FA;
    border: 1px #AECBD6 solid;
    padding: 2px;
}