.Container {
    display: flex;
    flex-direction: column;
}

.Header-Container {
    width: 100%;
}

.Header {
    color: #626262;
    font-weight: 600;
    margin: 10px;
    text-align: center;
    padding-right: 10em;
}

.List-Container {
    height: 15em;
}

.List-Left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 15em;
    float: left;
    margin: 0;
    max-height: 15em;
    overflow-y: scroll;
}

.List-Right {
    width: 10em;
    float: right;
    text-align: center;
}

.Delete-Button {
    margin: 5px auto;
    padding: 7.3px;
    width: 80%;
    background-color: #B27369;
    color: white;
    border-color: #B27369;
    border-style: solid;
    font-weight: bold;
    font-size: 11pt;
    border-radius: 4px;
}

.Delete-Button:disabled {
    opacity: .4;
    background-color: gray;
    border-color: gray;
}

.Delete-Button:hover:enabled {
    border-color: #005fcc;
}

.SumValue-Container {
    position: absolute;
    bottom: 0;
    width: 10em;
}

.Header-Total {
    color: #626262;
    font-weight: 600;
    margin: 10px;
    text-align: center;
}

.TotalValue {
    color: #2C83BA;
    padding: 5px;
    margin: 10px 5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 11pt;
}