.Container {
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
}

.Header-Container {
    width: 100%;
}

.Header {
    color: #626262;
    font-weight: 600;
    margin: 10px;
    text-align: center;
    padding-right: 10em;
}

.Input-Left {
    width: 15em;
    float: left;
}

.Input-Field {
    margin: 5px auto;
    padding: 8px 10px;
    width: 80%;
    display: block;
    font-weight: bold;
    font-size: 11pt;
    color: #2C83BA;
    border: 1px #BFC4C8 solid;
    border-radius: 2px;
}

.Input-Field:hover {
    border: 2px #005fcc solid;
    padding: 7px 9px;
}

.isInvalid {
    outline: none !important;
    border: 2px red solid;
    color: red;
    padding: 7px 9px;
}

.isInvalid:hover {
    outline: none !important;
    border: 2px red solid;
    color: red;
    padding: 7px 9px;
}

.Input-Right {
    width: 10em;
    float: left;
    text-align: center;
}

.Add-Button {
    margin: 5px auto;
    padding: 7.3px;
    width: 80%;
    background-color: #64C7FF;
    color: white;
    border-color: #64C7FF;
    border-style: solid;
    font-weight: bold;
    font-size: 11pt;
    border-radius: 4px;
}

.Add-Button:disabled {
    opacity: .4;
    background-color: gray;
    border-color: gray;
}

.Add-Button:hover:enabled {
    border-color: #005fcc;
}

.InvalidInput-Error {
    margin: 0 15px;
    color: red;
    font-size: 8pt;
}

.Error-Spacer {
    height: 15px;
    width: 100%;
    float: left;
    clear: left;
}